@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Sample Management</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Sample Management</h2>
        <p>
            See all the latest leads, with more functionality to come.
        </p>
        <p>
            An eius facilis qui, solet latine oportere mel in. Cetero utroque torquatos sea ea, id vidit falli melius eos, clita graeco ancillae pro at. Eum odio erant possit ea, ad vix inermis lucilius menandri. Usu an sint error accommodare, vix alii adipiscing theophrastus id, decore tritani ei sit. Mel no aliquid percipit sadipscing, fierent reprimique ut sit. Eam essent dissentias id.
        </p>
    </div>
    
</div>